<html lang="en">
    <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
<br><br>
<div class="main product" id="main"><!-- Main Section-->
    <div class="hero-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img class="img-responsive wow fadeIn" src="./assets/img/bnOObJWN_400x400.png" alt="Hero Image" />
          </div>
          <br><br>
          <div class="col-md-6">
            <div class="hero-content">
              <h1 class="wow fadeInUp" data-wow-delay="0s">Proposed Akwa Ibom State DigNet Project</h1>
              <p class="wow fadeInUp" data-wow-delay="0.2s">
                This is a Private Computing Facility. No Unauthorized personnel is permited
              </p>
              <a class="btn btn-primary btn-action popup wow fadeInUp" data-wow-delay="0.2s" href="#">Know More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </html>
